[submodule "src/components"]
	path = src/components
	url = https://github.com/Mau-MR/Keybons-Components
[submodule "src/WebClient"]
	path = src/WebClient
	url = https://github.com/Mau-MR/Keybons-WebClient.git
